{% extends "task_manager/base.html" %}

{% load i18n %}
{% load bootstrap4 %}

{% block content %}
<div class="mt-4">

    <main role="main" class="inner cover my-5 mx-auto text-center" style="color: black; width: 50%;">
        {% bootstrap_messages %}
        <h1 class="cover-heading">{% translate 'This is Task Manager'%}</h1>
        <p class="lead">{% translate 'Explanation' %}</p>
        {% if not user.is_authenticated %}
        <p class="lead">{% translate 'ForUnknownUsers' %}</p>
        <p class="lead">
            <a href="{% url 'login' %}" class="btn btn-lg btn-secondary">{% trans 'Registration' %}</a>
        </p>
        {% endif %}
    </main>


</div>
{% endblock %}