{% extends 'task_manager/base.html' %}
{% load i18n %}
{% load bootstrap4 %}

{% block content %}
{% bootstrap_messages %}

<h1 class="my-4">{% translate "Users deletion" %}</h1>
<form method="post">{% csrf_token %}
    <p>{% translate "Are you sure want to delete?" %} {{ object.first_name }} {{ object.last_name }}?</p>
    {% bootstrap_form form %}
    {% buttons %}
    <button type="submit" class="btn btn-danger">
        {% translate "Yes, exactly" %}
    </button>
    {% endbuttons %}
</form>
{% endblock %}