{% extends 'task_manager/base.html' %}
{% load i18n %}
{% load bootstrap4 %}

{% block content %}
{% bootstrap_messages %}

<h1 class="my-4">{% translate "Удаление пользователя" %}</h1>
<form method="post">{% csrf_token %}
    <p>{% translate "Вы уверены, что хотите удалить" %} {{ object.first_name }} {{ object.last_name }}?</p>
    {% bootstrap_form form %}
    {% buttons %}
    <button type="submit" class="btn btn-danger">
        {% translate "Да, удалить" %}
    </button>
    {% endbuttons %}
</form>
{% endblock %}