{% extends "task_manager/base.html" %}

{% load i18n %}
{% load bootstrap4 %}

{% block content %}
<div class="mt-4">
    {% bootstrap_messages %}

    <h1 class="mt-1">{% translate "Registered users" %}</h1>
    {% if user_list %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">{% translate "Username" %}</th>
                <th scope="col">{% translate "Full name" %}</th>
                <th scope="col">{% translate "Created at" %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for user in user_list %}
            <tr>
                <th scope="row"> {{ user.id }}</th>
                <td>{{ user.username }}</td>
                <td>{{ user.get_full_name }}</td>
                <td>{{ user.date_joined|date:"d.m.Y H:i"}}</td>
                <td>
                    <a href="{% url 'users:update_user' user.pk %}">{% translate 'Update' %}</a>
                    <br>
                    <a href="{% url 'users:delete_user' user.pk %}">{% translate 'Delete' %}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>There are no users.</p>
    {% endif %}
    {% endblock %}
</div>