{% extends 'task_manager/base.html' %}
{% load i18n %}
{% load bootstrap4 %}

{% block content %}
{% bootstrap_messages %}
<div class="container" style="width: 60%; color: black">
    <div class="card bg-light my-5">
        <div class="card-header">
            <h1 class="my-4">{% translate "Status deletion" %}</h1>
        </div>
        <div class="card-body">
            <form method="post">{% csrf_token %}
                <p>{% translate "Are you sure want to delete label" %} "{{ object.name }}"?</p>
                {% bootstrap_form form %}
                {% buttons %}
                <button type="submit" class="btn btn-danger">
                    {% translate "Yes, exactly" %}
                </button>
                {% endbuttons %}
            </form>
        </div>

    </div>
</div>
{% endblock %}