{% extends "task_manager/base.html" %}

{% load i18n %}
{% load bootstrap4 %}

{% block content %}
<div class="mt-4">
    {% bootstrap_messages %}

    <h1 class="mt-1">{% translate "Labels" %}</h1>
    <a href="{% url 'labels:create_label' %}">{% translate 'Create status' %}</a>
    {% if status_list %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">{% translate "Name" %}</th>
                <th scope="col">{% translate "Created at" %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for label in label_list %}
            <tr>
                <th scope="row"> {{ label.id }}</th>
                <td>{{ label.name }}</td>
                <td>{{ label.created_at }}</td>
                <td>
                    <a href="{% url 'labels:update_label' label.pk %}">{% translate 'Update' %}</a>
                    <br>
                    <a href="{% url 'labels:delete_label' label.pk %}">{% translate 'Delete' %}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>{% translate "There are no labels." %}
        <br>
        <a href="{% url 'labels:create_label' %}">{% translate 'Create label' %}</a>
    </p>
    {% endif %}
    {% endblock %}
</div>